<?xml version="1.0"?>
<monthly>


	<event>
		<id>1</id>
		<name>Esame Embedded</name>
		<startdate>2017-1-12</startdate>
		<enddate>2017-1-12</enddate>
		<starttime>12:00</starttime>
		<endtime>2:00</endtime>
		<color>#ffb128</color>
		<url></url>
	</event>

	<event>
		<id>2</id>
		<name>Esame Reti</name>
		<startdate>2017-1-2</startdate>
		<enddate></enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#28cbff</color>
		<url></url>
	</event>

	<event>
		<id>3</id>
		<name>Esame Tecnologie Web</name>
		<startdate>2017-1-4</startdate>
		<enddate>2017-1-4</enddate>
		<starttime>9:00</starttime>
		<endtime>10:00</endtime>
		<color>#9cc370</color>
		<url></url>
	</event>

	<event>
		<id>4</id>
		<name>Congresso Bologna</name>
		<startdate>2017-1-12</startdate>
		<enddate></enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#236789</color>
		<url></url>
	</event>


</monthly>
